@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1>Visitas programadas</h1>
@{
    foreach (var item in ViewBag.Visit)
    {
        
    <div class="container mt-4">
        
        <div class="card">
            <div class="card-header">
                Detalles del Visitante
            </div>
            <div class="card-body">
                    <h5 class="card-title">@(item.VisitorName) @(item.VisitorLastName)</h5>
                    <p class="card-text"><strong>Relación:</strong>Familiar</p>
                    <p class="card-text"><strong>Razón de la Visita:</strong> Visita</p>
                    <p class="card-text"><strong>Vehículo:</strong> @(item.VehicleBrand) - Placa: @(item.VehiclePlate) - Color: @(item.VehicleColor)</p>
                    <p class="card-text"><strong>Fecha y hora de Llegada:</strong> @(item.ArrivalTime)</p>
            </div>
        </div>
    </div>
    }
}

<h1>Visitas Favoritas</h1>
@{
    foreach (var item in ViewBag.VisitFav)
    {

        <div class="container mt-4">

            <div class="card">
                <div class="card-header">
                    Detalles del Visitante
                </div>
                <div class="card-body">
                    <h5 class="card-title">@(item.VisitorName) @(item.VisitorLastName)</h5>
                    <p class="card-text"><strong>Relación:</strong>Familiar</p>
                    <p class="card-text"><strong>Razón de la Visita:</strong> Visita</p>
                    <p class="card-text"><strong>Vehículo:</strong> @(item.VehicleBrand) - Placa: @(item.VehiclePlate) - Color: @(item.VehicleColor)</p>
                    <p class="card-text"><strong>Fecha y hora de Llegada:</strong> @(item.ArrivalTime)</p>
                </div>
            </div>
        </div>
    }
}

<h1>Visitas Normales</h1>
@{
    foreach (var item in ViewBag.VisitNormal)
    {

        <div class="container mt-4">

            <div class="card">
                <div class="card-header">
                    Detalles del Visitante
                </div>
                <div class="card-body">
                    <h5 class="card-title">@(item.VisitorName) @(item.VisitorLastName)</h5>
                    <p class="card-text"><strong>Relación:</strong>Familiar</p>
                    <p class="card-text"><strong>Razón de la Visita:</strong> Visita</p>
                    <p class="card-text"><strong>Vehículo:</strong> @(item.VehicleBrand) - Placa: @(item.VehiclePlate) - Color: @(item.VehicleColor)</p>
                    <p class="card-text"><strong>Fecha y hora de Llegada:</strong> @(item.ArrivalTime)</p>
                </div>
            </div>
        </div>
    }
}